.top{
  display: flex;
  align-items: center;
  height: 50px;
  .events{
    color: #00bfa5;
    margin-right: 10px;
    font-size: 22.5px;
  }
  .logo{
    display: block;
    margin:0px auto;
    width: 100px;
    transform:scale(1.5);
    padding-left:20px;
  }
}

#body {
  height: 671px;
  background-color: white;
}

.body-content { 
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-top: 50px;
  }
}
.logo{
  display: block;
  margin:0px auto;
  width: 100px;
  transform:scale(1.5);
}
.to-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}