
#header {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: white;
}
#body {
  display: flex;
  flex-direction: column;
  height: 681px;
  background-color: white;
}
.logo{
  display: block;
  margin:0px auto;
  width: 100px;
  transform:scale(1.5);
}
.to-center {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-jubging {

}