@import "@/assets/css/common.scss";

.mission-wrap {
	height: 721px;
}

.item-active {
	color: $primary;
	border-bottom: 5px solid $primary;
}

.mission-screen {
	overflow: auto;
  height: 650px;
	margin: 15px 16px;
}
