
.mission-wrap {
	height: 721px;
}

.top-select {
	display: flex;
	justify-content: space-evenly;
}

.top-select > .select-item {
	width: 180px;
	height: 50px;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

.active {
	color: red;
	border-bottom: 5px solid red;
}

.inactive {
	color: black;
}

.mission-screen {
	overflow: auto;
  height: 630px;
	margin: 30px 16px;
}
