.follow_container{
  display:flex;
  margin: 10px 8px 0px 8px;
  border:1px solid silver;
  border-radius: 20px;
  padding:10px;
  /* justify-content: space-around;*/
}
.photo-img{
  width: 185px;
  height: 185px;
  border-radius: 10px;
}
.follow_profile{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin:5px 10px 0px 0px;
}
.article_info{
 display: flex;
 flex-direction: column;
 margin-top:8px;
 width: 200px;
}
.hashtag_container{
  width: 180px;
  height: 55px;
  margin: 13px 10px 5px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  word-break:break-all;
  overflow:hidden;
}
.like_comment_container{
  display: flex;
  justify-content: center;
  margin-left:10px;
}
.lcbox{
  display: flex;
  align-items: center;
  padding: 8px;
}