@import '@/assets/css/common.scss';

.ranking-wrap {
	height: 721px;
}

.item-active {
	color: $primary;
	border-bottom: 5px solid $primary;
}

.rank-screen {
	overflow: auto;
  height: 650px;
	margin: 15px 16px;
}
