.ranking-wrap {
	height: 721px;
}

.top-select {
	display: flex;
	justify-content: space-evenly;

	.select-item {
		width: 180px;
		height: 50px;
		text-align: center;

		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.active {
	color: red;
	border-bottom: 5px solid red;
}

.inactive {
	color: black;
}

.rank-screen {
	overflow: auto;
	height: 640px;
	margin: 25px 16px;
}
