.modal-card{
	border-radius: 15px;
	margin-top:200px;
	width:300px;
	height:400px;
}
.like_time{
	font-size:10px;
	margin-top:5px;
	margin-left:5px;
}
.comment_profile{
  height:60px;
  width:60px;
}
.close{
	color: #00bfa5;
  font-size:16px;
  margin-right:5px;
  background-color: white;
  /* border-radius: 20px; */
  border-color:#00bfa5;
  border:2px solid;
}