@import "@/assets/css/common.scss";

.modal-card{
	border-radius: 15px;	
	width:300px;
	height:400px;
}
.like_time{
	font-size:10px;
	margin-top:5px;
	margin-left:5px;
}
.follow_container{
  padding:0px;
  margin-top:20px;
}
.img_name_contain{
  display: flex;
  margin-bottom: 20px;
}
.follow_profile{
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.close{
	color: $primary;
  margin-right: 5px;
  border: 2px solid $primary;
}