.jubging_container{
  display: flex;
  margin:0px 10px 10px 10px;
  align-items: center;
}
.jubging_profile{
  width: 200px;
  height: 200px;
  border-radius: 20%;
  overflow: hidden;
  margin:5px 10px 0px 0px;
}