.top{
  display: flex;
  align-items: center;
  height: 50px;
  .hamburger{
    margin-right: 10px;
    font-size: 22.4px;
  }
  .logo{
    display: block;
    margin:0px auto;
    width: 100px;
    transform:scale(1.5);
    padding-left:20px;
  }
}

.my-wrap {
  height: 73px;
}

/* 유저 정보 */
.my_info{
display:flex;
height: 217px;
flex-direction: column;
justify-content: center;
align-items:center;
}
.profile_img{
display: flex;
align-items: center;
width: 80px;
height: 80px;
border-radius: 70%;
overflow: hidden;
margin-top:3vh;
margin-bottom:1vh;
}
.profile{
width: 100%;
height: 100%;
object-fit: cover;
}
.user_active_cnt{
display: flex;
width: 350px;
justify-content: space-around;
margin-top:2vh;
}
.lcbox{
display: flex;
flex-direction: column;
}
/* 뱃지부분 */
.badge_box{
  margin-top: 13px;
  margin-bottom:12px;
}
.badge_img{
height: 60px;
}
.badge_carousel{
margin: 0;
}
.nobadge_text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -63px;
  margin-bottom: 28px;
  width: 412px;
}
.nobadge{
  font-size:20px;
  color:gray;
}
/* 피드 부분 */
.photo_list{
overflow: auto;
height: 352px;
width: 412px;
}
.photo-grid {
  display:flex;
  flex-wrap:wrap;
}
.photo-img {
width: 135px;
height: 135px;
}
.no_article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 367px;
  color: gray;
}
/* 바텀시트 */
.bt_common{
display: flex;
margin-left:40px;
align-items: center;
height: 60px;
}
.likelog{
  margin-left:38px;
}
.icon{
  font-size:25px;
  margin-right:10px;
}
.bt_common > span{
  font-size:18px;
}
/* 라우터 링크 색 변경x */
.default-link{
color:black;
text-decoration:none;
}