.top{
  display: flex;
  align-items: center;
  height: 50px;
}
.back_icon{
  margin-left:15px;
}
.logo{
  margin-left: 130px;
  transform: scale(1.5);
  }
.search_main{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:20px 16px 0px 16px;
  height: 731px;
}
.input_style{
  width:275px;
  height:15px;
  background-color: gainsboro;
  border:0px;
  border-radius: 15px 15px 15px 15px;
  padding:10px;
}
input:focus{
  outline:none;
}
.input_button{
  background: white;
  margin-left:5px;
  border:0px;
}
.search_latest{
  position:relative;
  width:382px;
  z-index:1;
  margin-top:15px;
}
.search_latest_tlt{
  text-align: left;
}
.search_latest_list{
  list-style: none;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding:0px;
}
.search_latest_item{
  margin-right:3px;
  font-size: 15px;
}
.lastkeyword{
  color: #00bfa5;
  font-size:16px;
  margin-right:5px;
  background-color: white;
  border-radius: 20px;
  border-color:#00bfa5;
  border:2px solid;
}
.search_user_list{
  position: relative;
  display:flex;
  flex-direction: column;
}
.search_user_list_tlt{
  width:380px;
}
.search_users::-webkit-scrollbar{
  display: none;
}
.search_users{
  display:flex;
  flex-wrap:wrap;
  list-style: none;
  overflow-y: scroll;
  padding:0px;
  margin:0px;
}
.search_user{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right:10px;
  padding-top:10px;
}
.search_user_img{
  width:55px;
  height: 55px;
  border-radius: 50%;
}
.search_user_name{
  margin:0;
  text-align:center;
}
.search_article_list{
  display:flex;
  flex-direction: column;
  position: relative;
}
.search_article_list_tlt{
  width: 380px;
}
.search_articles{
  list-style: none;
  overflow-y:scroll;
  padding:0px;
  -ms-overflow-style:none;
}
.search_articles::-webkit-scrollbar{
  display: none;
}
.search_article{
  display: flex;
  margin:0px 10px 10px 0px;
  align-items:center;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.search_article img{
  width:50%;
  margin:0px 10px 0px 10px;
}
.search_article_info{
  width: 160px;
  text-align:center;
}
.search_article_usernickname{
  font-weight: bold;
}
.search_article_hashtags{
  margin-right:5px;
}