@import "@/assets/css/common.scss";

.login-wrap {
  height: 781px;
	display: flex;
	flex-direction: column;
	align-items: center;
  background-color: $white;
}

.logo {
	width: 200px;
	margin-top: 15%;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin-top: 15%;

  .form-input {
    width: 316px;
    height: 36px;
    border: 2px solid $gray;
    border-radius: 12px;
    padding: 0px 20px;
    color: #2E2E30;
  }

  .form-mb {
    margin-bottom: 20px;
  }

  .form-text-align {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .form-text-small {
      color: $primary;
      font-size: 14px;
    }

    .text-decoration-none {
      text-decoration: none;
    }
  }

  .form-error {
    padding-left: 10px;
  }
}

.no-login {
  margin-top: 160px;
  font-weight: 500;
  cursor: pointer;
}

.social-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10%;

  .social {
    width: 55px;
    height: 55px;
    border: 2px solid $primary;
    border-radius: 50%;
    margin: 8px;
  }
}