@import "@/assets/css/common.scss";

.login-wrap {
  height: 781px;
	display: flex;
	flex-direction: column;
	align-items: center;
  background-color: $primary;
}

.logo {
	width: 200px;
	margin-top: 25%;
}

.from-group {
	display: flex;
	flex-direction: column;
	margin-top: 18%;

  .from-input {
    width: 300px;
    height: 40px;
    background: rgba(179, 179, 179, 0.55);
    border: 0px;
    border-radius: 20px;
    padding: 0px 20px;
    margin-bottom: 14px;
    color: white;
  }

  .from-btn {
    color: white;
    background: linear-gradient(278.02deg, #1CA592 -0.77%, #FFEAC1 114.65%);
  
    width: 340px;
    height: 40px;
    border: 0px;
    border-radius: 20px;
  }

  .from-text-align {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .from-text-small {
      color: white;
      font-size: 14px;
    }

    .text-decoration-none {
      text-decoration: none;
    }
  }
}

.social-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 10%;

  .social {
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 50%;
    margin: 8px;
  }
}