.top{
  display: flex;
  align-items: center;
  height: 50px;
}
.logo{
margin-left:130px;
width: 100px;
transform:scale(1.5);
}
.back_icon{
  color:#00bfa5;
  margin-left:16px;
}
.followbtn{
  margin-left:auto;
  margin-right:16px;
}
.btnstyle{
  color: #00bfa5;
}
/* 유저 정보 */
.my_info{
display:flex;
flex-direction: column;
justify-content: center;
align-items:center;
}
.profile_img{
display: flex;
align-items: center;
width: 80px;
height: 80px;
border-radius: 70%;
overflow: hidden;
margin-top:3vh;
margin-bottom:1vh;
}
.profile{
width: 100%;
height: 100%;
object-fit: cover;
}
.user_active_cnt{
display: flex;
width: 350px;
justify-content: space-around;
margin-top:3vh;
}
.lcbox{
display: flex;
flex-direction: column;
}
/* 뱃지부분 */
.badge_box{
margin-top: 3vh;
/* border: solid 1px; */
margin-bottom:3vh;

}
.article_img{
width: 50px;
height: 50px;
}
.badge_carousel{
margin: 0;

}
/* 피드 부분 */
.photo_list{
overflow: auto;
height: 405px;
width: 412px;
}
.photo-grid {
display:flex;
}

.photo-img {
width: 135px;
height: 135px;
margin-left:2px;
}
/* 바텀시트 */
.bt_common{
display: flex;
margin-left:40px;
align-items: center;
height: 60px;
}
.likelog{
margin-left:38px;
}
.icon{
margin-right:10px;
}
/* 라우터 링크 색 변경x */
.default-link{
color:black;
text-decoration:none;
}