@font-face {
  font-family: 'InfinitySans-RegularA1';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/InfinitySans-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$primary: #00bfa5;
$secondary: blue;
$tertiary: green;

$Error: #9c0000;

$dark: black;
$darkgray: gray;
$gray: gray;
$graylight: #aaa;
$white: white;

$app-width: 412px;
$app-height: 781px;
$app-side-margin: 16px;


////////////////////////////////////////////////////////////

body {
  font-family: 'InfinitySans-RegularA1';
  -ms-overflow-style: none; 
} 
::-webkit-scrollbar { 
  display: none;
}

svg {
  background-color: transparent !important; 
}

input:disabled {
  background-color: #ccc;
}

.text-error {
  color: $Error;
}

.text-primary {
  color: $primary;
}

.m-0 {
  margin: 0px;
}

.p-0 {
  padding: 0px;
}

//////////////////////////////// 컴포넌트

.btn {
  color: $primary;
  background-color: $white;
  width : 330px;
  height: 45px;
  border-radius: 20px;
  border: 2px solid $primary;
  font-weight: bold;
}

.btn-disable {
  color: $gray;
  background-color: $white;
  width : 360px;
  height: 40px;
  border-radius: 20px;
  border:2px solid $gray;
  font-weight: bold;
}

.btn-user-mgt {
  color: $white;
  background-color: $primary;
  width : 360px;
  height: 40px;
  border-radius: 12px;
  border: 0px;
  font-weight: bold;
}

.btn-user-mgt-disable {
  color: $white;
  background-color: $gray;
  width : 360px;
  height: 40px;
  border-radius: 12px;
  border: 0px;
  font-weight: bold;
}

.top-select {
	display: flex;
	justify-content: space-evenly;
	.select-item {
		font-weight: 500;
		width: 180px;
		height: 50px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}	
}

////////////////////////////////////////////////////////////
