@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

$primary: #00bfa5;
$secondary: blue;
$tertiary: green;

$Error: #9c0000;

$dark: black;
$darkgray: gray;
$gray: gray;
$graylight: gray;
$white: white;

$app-width: 412px;
$app-height: 781px;
$app-side-margin: 16px;


////////////////////////////////////////////////////////////

body {
  font-family: 'Noto Sans KR', sans-serif;
  -ms-overflow-style: none; 
} 
::-webkit-scrollbar { 
  display: none;
}

svg {
  background-color: transparent !important; 
}

.text-error {
  color: $Error;
}

.text-primary {
  color: $primary;
}

////////////////////////////////////////////////////////////
